body {
  margin: 0;
  padding: 0;
  background-color: #5e5e5e;

}
canvas {
  display: block;
  margin: auto;
  padding: 50px;
}

.buttonContainer{
  position: absolute;
  text-align: center;
  padding: 0% 72%;
  width: 100%
  margin: auto;
}

.buttonContainer2{
  position: absolute;
  text-align: center;
  padding: 0% 22.5%;
  width: 100%
  margin: auto;
}

.buttonContainer3{
  position: relative;
  text-align: center;
  width: 100%
  margin: auto;
}

.buttonContainer4{
  position: relative;
  text-align: center;
  width: 100%
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
